click==7.1.2
colorama==0.4.3
Scrapy==2.3.0
  cryptography==3.0
    cffi==1.14.1
      pycparser==2.20
    six==1.15.0
  cssselect==1.1.0
  itemadapter==0.1.0
  itemloaders==1.0.2
    itemadapter==0.1.0
    jmespath==0.10.0
    parsel==1.6.0
      cssselect==1.1.0
      lxml==4.5.2
      six==1.15.0
      w3lib==1.22.0
        six==1.15.0
    w3lib==1.22.0
      six==1.15.0
  lxml==4.5.2
  lxml==4.5.2
  parsel==1.6.0
    cssselect==1.1.0
    lxml==4.5.2
    six==1.15.0
    w3lib==1.22.0
      six==1.15.0
  Protego==0.1.16
    six==1.15.0
  PyDispatcher==2.0.5
  pyOpenSSL==19.1.0
    cryptography==3.0
      cffi==1.14.1
        pycparser==2.20
      six==1.15.0
    six==1.15.0
  queuelib==1.5.0
  service-identity==18.1.0
    attrs==19.3.0
    cryptography==3.0
      cffi==1.14.1
        pycparser==2.20
      six==1.15.0
    pyasn1==0.4.8
    pyasn1-modules==0.2.8
      pyasn1==0.4.8
  Twisted==20.3.0
    attrs==19.3.0
    Automat==20.2.0
      attrs==19.3.0
      six==1.15.0
    constantly==15.1.0
    hyperlink==20.0.1
      idna==2.10
    incremental==17.5.0
    PyHamcrest==2.0.2
    zope.interface==5.1.0
      setuptools==41.2.0
  w3lib==1.22.0
    six==1.15.0
  zope.interface==5.1.0
    setuptools==41.2.0
simplejson==3.17.2
termcolor==1.1.0
